body{
    color: #000000;
    background: #ad0505;
    font-family: "Merriweather", sans-serif;
    margin: 0px;
}
header {
    border-bottom: solid 2px hsl(0, 73%, 46%);
    padding: 20px;
    font-size: 42px;
    color: #ad0505;
    background: #800400;
    font-family: "Shizuru", system-ui;
    }
    
h1 { 
    font-size: 42px;

}

p { font-size: 28px;

}

section {
    color: #ad0505;
    background:#000000;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    font-family: "Style Script", cursive;
}

.chamada-texto{
     margin-right: 5%;
}
