body{
    background-color: #dde693;
    color: white;
    margin: 2px; color: #54582f;
    font-family: "Merriweather", sans-serif;
}
header {
    header {
        border-bottom: solid 2px #86895d;
        padding: 20px;
        font-size: 32px;
        color: #bec092
    }
    section {
        background: #272b00;
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center
    }
    .chamada-texto{
        margin-right: 5%;
    }
    h1 { 
        font-size: 40px;
    }