body{
    color: #86895d;
    background: #bec092;
    font-family: "Merriweather", sans-serif;
    margin: 0px;
    font-family: "Style Script", cursive;
}
header {
    border-bottom: solid 2px #b0b47a;
    padding: 20px;
    font-size: 32px;
    color: #86895d;
    background: #bec092;
    }
    
h1 { 
    font-size: 32px;
}

section {
    color: #bec092;
    background:#86895d;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center
}

.chamada-texto{
     margin-right: 5%;
}
